pkgbase = openwork
	pkgdesc = An Open source alternative to Claude Cowork
	pkgver = 0.18.18
	pkgrel = 1
	url = https://github.com/different-ai/openwork
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = libdrm
	depends = libxkbcommon
	depends = mesa
	depends = dbus
	depends = hicolor-icon-theme
	options = !strip
	source_x86_64 = openwork-0.18.18-x64.tar.gz::https://github.com/different-ai/openwork/releases/download/v0.18.18/openwork-linux-x64-0.18.18.tar.gz
	sha256sums_x86_64 = 18a0da287d73f90aacf0dc40b847825201440a2112bff95b9dc1da1aa89b2593
	source_aarch64 = openwork-0.18.18-arm64.tar.gz::https://github.com/different-ai/openwork/releases/download/v0.18.18/openwork-linux-arm64-0.18.18.tar.gz
	sha256sums_aarch64 = 7c3379cb4751074c4c7dfb17ceeac229b93f4a5b0519f2e7594ce5fa164f1d40

pkgname = openwork
